/*Twikoo评论美化*/
.tk-input[data-v-619b4c52] .el-textarea__inner {
    height:200px!important;
}
[data-theme='dark'] .tk-input[data-v-619b4c52] .el-textarea__inner {
    background-image:none!important;
}
.tk-input[data-v-619b4c52] .el-textarea__inner:focus{
    background-image:none!important
}


/*网站背景*/
/*#web_bg{*/
/*    -webkit-background-size:cover;*/
/*    -moz-background-size:cover;*/
/*    background-size:cover;*/
/*    background: url("https://cdn.jsdelivr.net/npm/akilar-candyassets/image/thetree.webp") no-repeat local center;*/
/*}*/
#web_bg{
    position:fixed;
    z-index:-999;
    width:100%;
    height:100%;
    background:url(https://cdn.jsdelivr.net/npm/akilar-candyassets/image/index.webp);
    background-attachment:local;
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat
}

/*header和footer透明*/
#page-header, #footer{
    background: transparent!important;
}

#footer::before{
    background: transparent!important;
}

[data-theme='dark'] #footer::before,
[data-theme='dark'] #page-header::before {
    background: transparent!important;
}

/*首页文章卡片和aside卡片透明*/
.card-widget,
#recent-posts>.recent-post-item{
    background:rgba(255,255,255,.9)!important
}
[data-theme='dark'] .card-widget,
[data-theme='dark'] #recent-posts>.recent-post-item{
    background:rgba(0,0,0,.5)!important
}
/*文章页面正文透明*/
div#post{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#post{
    background:rgba(0,0,0,.5)
}
/*归档页透明*/
div#archive{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#archive{
    background:rgba(0,0,0,.5)
}
/*标签、分类、友链、关于页面透明*/
div#page{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#page{
    background:rgba(0,0,0,.5)
}

/*阅读模式*/
.read-mode #aside-content .card-widget{
    background: rgba(158, 204, 171, 0.5)!important;
}
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
}
/*夜间模式下的阅读模式*/
[data-theme="dark"]
.read-mode #aside-content .card-widget{
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}
[data-theme="dark"]
.read-mode div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}
/*首页铃铛*/
.fa-angle-down::before {
    content: "\f0f3";
}
/*aplayer美化*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
    left:-66px!important
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover{
    left:0!important
}

/*字体*/
@font-face{
    font-family:Candyhome;
    src:url(https://cdn.jsdelivr.net/gh/Odfense/Hexo@1.0.3/fonts/Candyhome.ttf);
    font-display:swap;
}
@font-face{
    font-family:ZhuZiAYuanJWD;
    src:url(https://cdn.jsdelivr.net/gh/Odfense/Hexo@1.0.3/fonts/ZhuZiAYuanJWD.ttf);
    font-display:swap;
}@font-face{
    font-family:Poem;
    src:url(https://cdn.jsdelivr.net/gh/Odfense/Hexo@1.0.3/fonts/Poem.ttf);
    font-display:swap;
}
/*主页副标题字体修改*/
h1#site-title{
    font-family:Candyhome;
    font-size:3em!important
}
/*主题颜色修改*/
:root {
    --btn-bg: #9370db;
}
#nav .site-page:not(.child):after{
    background-color: #9370db;
}
/*去掉follow按钮*/
#aside-content .card-info #card-info-btn{
    display: none;
}
/*图标颜色设置*/
.fa-qq{
    color: #10a4ff;
}
.fa-weixin{
    color: #00bf03;
}
.fa-rss{
    color: #d68650;
}
.fa-envelope{
    color: #10a4ff;
}

