/*Twikoo评论美化*/
.tk-input[data-v-619b4c52] .el-textarea__inner {
    height:200px!important;
}
[data-theme='dark'] .tk-input[data-v-619b4c52] .el-textarea__inner {
    background-image:none!important;
}
.tk-input[data-v-619b4c52] .el-textarea__inner:focus{
    background-image:none!important
}


/*网站背景*/
/*#web_bg{*/
/*    -webkit-background-size:cover;*/
/*    -moz-background-size:cover;*/
/*    background-size:cover;*/
/*    background: url("https://cdn.jsdelivr.net/npm/akilar-candyassets/image/thetree.webp") no-repeat local center;*/
/*}*/
#web_bg{
    position:fixed;
    z-index:-999;
    width:100%;
    height:100%;
    background:url(https://cdn.jsdelivr.net/npm/akilar-candyassets/image/index.webp);
    background-attachment:local;
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat
}

/*header和footer透明*/
#page-header, #footer{
    background: transparent!important;
}

#footer:before{
    background: transparent!important;
}

[data-theme='dark'] #footer::before,
[data-theme='dark'] #page-header::before {
    background: transparent!important;
}

/*首页文章卡片和aside卡片透明*/
.card-widget,
#recent-posts>.recent-post-item{
    background:rgba(255,255,255,.9)!important
}
[data-theme='dark'] .card-widget,
[data-theme='dark'] #recent-posts>.recent-post-item{
    background:rgba(0,0,0,.5)!important
}
/*文章页面正文透明*/
div#post{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#post{
    background:rgba(0,0,0,.5)
}
/*归档页透明*/
div#archive{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#archive{
    background:rgba(0,0,0,.5)
}
/*标签、分类、友链、关于页面透明*/
div#page{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#page{
    background:rgba(0,0,0,.5)
}

/*阅读模式*/
.read-mode #aside-content .card-widget{
    background: rgba(158, 204, 171, 0.5)!important;
}
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
}
/*夜间模式下的阅读模式*/
[data-theme="dark"]
.read-mode #aside-content .card-widget{
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}
[data-theme="dark"]
.read-mode div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}





/*aplayer美化*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
    left:-66px!important
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover{
    left:0!important
}

