/*Twikoo评论美化*/
.tk-input[data-v-619b4c52] .el-textarea__inner {
    height:192px!important;
}
[data-theme='dark'] .tk-input[data-v-619b4c52] .el-textarea__inner {
    background-image:none!important;
}
.tk-input[data-v-619b4c52] .el-textarea__inner:focus{
    background-image:none!important
}


/*网站背景*/
/*#web_bg{*/
/*    -webkit-background-size:cover;*/
/*    -moz-background-size:cover;*/
/*    background-size:cover;*/
/*    background: url("https://cdn.jsdelivr.net/npm/akilar-candyassets/image/thetree.webp") no-repeat local center;*/
/*}*/
#web_bg{
    position:fixed;
    z-index:-999;
    width:100%;
    height:100%;
    background:url(https://cdn.jsdelivr.net/npm/akilar-candyassets/image/index.webp);
    background-attachment:local;
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat
}

/*header和footer透明*/
#page-header, #footer{
    background: transparent!important;
}

#footer::before{
    background: transparent!important;
}

[data-theme='dark'] #footer::before,
[data-theme='dark'] #page-header::before {
    background: transparent!important;
}

/*首页文章卡片和aside卡片透明*/
.card-widget,
#recent-posts>.recent-post-item{
    background:rgba(255,255,255,.9)!important
}
[data-theme='dark'] .card-widget,
[data-theme='dark'] #recent-posts>.recent-post-item{
    background:rgba(0,0,0,.5)!important
}
/*文章页面正文透明*/
div#post{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#post{
    background:rgba(0,0,0,.5)
}
/*归档页透明*/
div#archive{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#archive{
    background:rgba(0,0,0,.5)
}
/*标签、分类、友链、关于页面透明*/
div#page{
    background:rgba(255,255,255,.9)
}
[data-theme='dark'] div#page{
    background:rgba(0,0,0,.5)
}

/*阅读模式*/
.read-mode #aside-content .card-widget{
    background: rgba(158, 204, 171, 0.5)!important;
}
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
}
/*夜间模式下的阅读模式*/
[data-theme="dark"]
.read-mode #aside-content .card-widget{
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}
[data-theme="dark"]
.read-mode div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}
/*首页铃铛*/
.fa-angle-down::before {
    content: "\f0f3";
}





/*aplayer美化*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
    left:-66px!important
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover{
    left:0!important
}

/*字体*/
@font-face{
    font-family:Candyhome;
    src:url(https://cdn.jsdelivr.net/gh/Odfense/Hexo/fonts/Candyhome.ttf);
    font-display:swap;
}
@font-face{
    font-family:ZhuZiAYuanJWD;
    src:url(https://cdn.jsdelivr.net/gh/Odfense/Hexo/fonts/ZhuZiAYuanJWD.ttf);
    font-display:swap;
}@font-face{
    font-family:Poem;
    src:url(https://cdn.jsdelivr.net/gh/Odfense/Hexo/fonts/Poem.ttf);
    font-display:swap;
}
/*主页副标题字体修改*/
h1#site-title{
    font-family:Candyhome;
    font-size:3em!important
}
/*主题颜色修改*/
:root {
    --btn-bg: #9370db;
}
#nav .site-page:not(.child):after{
    background-color: #9370db;
}
/*图标颜色设置*/
.fa-qq{
    color: #10a4ff;
}
.fa-weixin{
    color: #00bf03;
}
.fa-rss{
    color: #d68650;
}
.fa-envelope{
    color: #db1f16;
}
/*页脚跳动的心*/
#heartbeat {
    color: red;
    animation: iconAnimate 1.33s ease-in-out infinite;
}
/*滚动条*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9370db;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #9370db;
}

/*!*鼠标样式*!*/
/*!* 全局默认鼠标指针 *!*/
/*body,*/
/*html{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/arrow.cur'),auto !important;*/
/*}*/
/*!* 悬停图片时的鼠标指针 *!*/
/*img{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/btn.cur'),auto !important;*/
/*}*/
/*!* 选择链接标签时的鼠标指针 *!*/
/*a:hover{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/link.cur'),auto;*/
/*}*/
/*!* 选中输入框时的鼠标指针 *!*/
/*input:hover{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/input.cur'),auto;*/
/*}*/
/*!* 悬停按钮时的鼠标指针 *!*/
/*button:hover{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/btn.cur'),auto;*/
/*}*/
/*!* 悬停列表标签时的鼠标指针 *!*/
/*i:hover{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/link.cur'),auto;*/
/*}*/
/*!* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 *!*/
/*#footer-wrap a:hover{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/hf.cur'),auto;*/
/*}*/
/*!* 悬停页码时的鼠标指针 *!*/
/*#pagination .page-number:hover{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/i.cur'),auto;*/
/*}*/
/*!* 悬停菜单栏时的鼠标指针 *!*/
/*#nav .site-page:hover{*/
/*    cursor: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/cur/hf.cur'),auto;*/
/*}*/


/*页脚魔改*/
/*#footer-wrap{*/
/*    height: 250px;*/
/*}*/

#page-header.nav-fixed #nav a:hover, #page-header.nav-fixed #nav #site-name:hover, #page-header.nav-fixed #nav #toggle-menu:hover {
    color: #9370db;
}
#footer-wrap .framework-info a:hover, #footer-wrap .footer_custom_text a:hover{
    text-decoration: none;
    color: #9370db;
}
/*about页面my-skill美化*/
.my-skills .cardtitle{
    text-align: center;
    font-size: 2em!important;
    margin-bottom: 33.75px;

}
.my-skills .row{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.my-skills .row .col{
    width: 445px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

.skillbar{
    position: relative;
    display: block;
    max-width: 360px;
    margin: 15px auto;
    background: #eee;
    height: 30px;
    border-radius: 35px;
}
.skillbar-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-size: 0.9rem;
    color: #ffffff;
    border-radius: 35px;
    -webkit-border-radius: 35px;

}
.skillbar-title span{
    display: block;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    font-size: 13px;
    color: #ffffff;
}
.skill-bar-percent{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1009px){
    .row .col.s12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

}
.row .col.s12 {
    /*width: 100%;*/
    margin-left: auto;
    left: auto;
    right: auto;
}

/*my-infor美化*/
.my-infor{
    height: 200px;
    margin-bottom: 40px;
}
.ff1{
    width: auto;
    height: 200px;
}
.my-infor .card-info-data {
    background-color: #00bf03;
    float: left;
    margin-right: 40px;
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*padding: 0 .75rem;*/
    /*min-height: 1px;*/
}
.my-infor .mine{
    float: left;
    background-color: red;
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*padding: 0 .75rem;*/
    /*min-height: 1px;*/
}
.my-infor .social{
    float: right;
    background-color: blue;
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*padding: 0 .75rem;*/
    /*min-height: 1px;*/
}

.my-infor .card-info-data .card-info-data-item a .headline {
    float: left;
}
.my-infor .card-info-data .card-info-data-item a .length-num {
    float: left;
}
